body {
  margin: 0;
  background-color: #343a40 !important;
}

#loading {
  margin: 5px;
  padding: 10px;
  color: white;
}

.spinner {
  margin: 20% 0 0 45%;

}

.spin {
  padding: 3rem;
}

#login,
#settings,
#watchlist {
  margin: 80px;
  padding: 50px;
  background-color: white;
  border-radius: .25rem;
  border: 1px solid #ced4da
}

#settings {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.left {
  margin: 10rem auto 0 auto;
  text-align: center;
}

.user-img {
  border-radius: 50%;
}

.space {
  margin: 10px;
}

#name {
  color: #17a2b8 !important;

  a {
    color: none;
    text-decoration: none;
    background-color: none;
  }
}

.cancel {
  margin-left: 2rem;
}

.float-right {
  float: right;
}

#toggleGroup {
  margin-right: 10px;
}

#toggleGroupWatchlist {
  margin-left: 10px;
  margin-right: 10px;
}

#watchlistInput {
  margin-right: 10px;
}

/**
  Media Queries 
*/
@media only screen and (max-width: 600px) {

  #login,
  #settings,
  #watchlist {
    margin: 50px;
    padding: 20px;
    width: inherit;
  }

  .spinner {
    margin: 50% 0 0 35%;
  }

  #searchBtn {
    margin-left: 10px;
  }

  #toggleGroup {
    margin-bottom: 10px;
  }

  #toggleGroupWatchlist {
    margin-left: 0px;
  }
}