body {
  margin: 0;
  background-color: #343a40!important;
}

.error {
  padding: 10px;
  font-family: Helvetica;
  background: azure;
  color: darkred;
  margin: 5px;
  border: 1px darkred solid;
}

#loading {
  margin: 5px;
  padding: 10px;
  color: white;
}